<div class="flex min-h-screen bg-mainBg overflow-hidden">
  <a
    routerLink="/home"
    class="hidden lg:flex lg:w-1/2 relative bg-cover bg-center cursor-pointer hover:opacity-95 transition-opacity"
    style="background-image: url('./img/Forgot-Password.png')"
  >
    <div class="absolute inset-0 bg-black/20"></div>
    <div class="relative z-10 flex items-end p-10 xl:p-16 w-full">
      <h1 class="text-3xl xl:text-4xl font-bold text-white mb-4 leading-tight drop-shadow-lg">
        Focus on your ideas,<br />we'll handle the<br />access.
        <div class="w-12 h-1 bg-white mt-4 opacity-70"></div>
      </h1>
    </div>
  </a>

  <div class="w-full lg:w-1/2 flex flex-col items-center justify-center p-4 lg:p-8 overflow-y-auto">
    <a
      routerLink="/home"
      class="w-full sm:w-auto bg-gray-100 mb-2.5 hover:bg-gray-200 text-mainColorDark font-bold py-3.5 px-8 rounded-xl transition-colors shadow-sm flex items-center justify-center gap-2.5 text-sm border border-gray-200/50"
    >
      Return Home <i class="fa-solid fa-house text-xs"></i>
    </a>
    <div class="w-full max-w-sm xl:max-w-md my-auto">
      <div class="w-full max-w-sm xl:max-w-md my-auto">
        <div class="mb-5">
          <h1 class="flex items-center gap-2 mb-2 text-mainColorDark font-bold text-lg">
            <img src="./img/Logo-Misa7a-icon.png" class="w-5.5 h-5.5" alt="logo-Misa7a" />
            <span>Misa7a Workspace</span>
          </h1>
          <div class="mb-6">
            <h2 class="text-2xl xl:text-3xl font-bold text-gray-900 mb-2">Reset Password</h2>
            <p class="text-sm text-fontGray2">
              Enter your registered email address and we'll send you code to reset your password.
            </p>
          </div>

          @if (!isRestStep()) {
            <form (submit)="submitSendEmail($event)">
              <div class="mb-5">
                <p class="text-center font-bold text-mainColorLight">Step 1</p>
                <label
                  for="email"
                  class="block mb-1 text-2xs font-bold text-linksColor1 tracking-wider capitalize"
                  >Email Address</label
                >

                <div class="relative w-full">
                  <div
                    class="absolute text-fontGray2 inset-y-0 inset-s-0 flex items-center ps-3 pointer-events-none"
                  >
                    <i class="fa-solid fa-envelope"></i>
                  </div>
                  <input
                    [class]="{
                      'border-green-500': email.valid,
                      'border-red-500': email.invalid && email.touched,
                    }"
                    [formControl]="email"
                    type="email"
                    id="email"
                    class="block w-full ps-9 pe-3 py-2.5 bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-lg focus:ring-mainColorDark focus:border-mainColorDark shadow-xs placeholder:text-xs placeholder:text-fontGray2"
                    placeholder="e.g. name@Misa7a.com"
                    required
                  />
                </div>

                @if (email.invalid && email.touched) {
                  <div class="flex flex-col gap-1 text-2xs mb-4 text-red-500">
                    @if (email.hasError('required')) {
                      <p class="flex items-start gap-2">
                        <i class="fa-solid fa-right-long p-0.5"></i>
                        <span>Email is required.</span>
                      </p>
                    } @else if (email.hasError('email')) {
                      <p class="flex items-start gap-2">
                        <i class="fa-solid fa-right-long p-0.5"></i>
                        <span>Please enter a valid email address.</span>
                      </p>
                    }
                  </div>
                }
              </div>

              <button
                type="submit"
                class="w-full text-white bg-mainColorLight hover:bg-mainColorDark focus:ring-2 focus:outline-none focus:ring-mainExtraLight font-medium rounded-lg text-sm px-5 py-2 text-center transition-colors flex justify-center items-center gap-2 mb-5 cursor-pointer"
              >
                Send Reset Link <i class="fa-solid fa-arrow-right text-xs"></i>
              </button>

              <div class="text-center">
                <a
                  routerLink="/login"
                  class="text-xs font-bold text-mainColorDark flex items-center justify-center gap-1.5 cursor-pointer"
                >
                  <i class="fa-solid fa-arrow-left"></i> Back to Sign In
                </a>
              </div>
            </form>
          }

          @if (isRestStep()) {
            <form (submit)="submitResetPass($event)">
              <div class="mb-5">
                <p class="text-center font-bold text-mainColorLight">Step 2</p>
                <label
                  for="newPassword"
                  class="block mb-1 text-2xs font-bold text-linksColor1 tracking-wider capitalize"
                  >New Password</label
                >

                <div class="relative w-full">
                  <div
                    class="absolute text-fontGray2 inset-y-0 inset-s-0 flex items-center ps-3 pointer-events-none"
                  >
                    <i class="fa-solid fa-lock"></i>
                  </div>
                  <input
                    #pass
                    [class]="{
                      'border-green-500': newPassword.valid,
                      'border-red-500': newPassword.invalid && newPassword.touched,
                    }"
                    [formControl]="newPassword"
                    type="password"
                    id="newPassword"
                    class="block w-full ps-9 pe-3 py-2.5 bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-lg focus:ring-mainColorDark focus:border-mainColorDark shadow-xs placeholder:text-xs placeholder:text-fontGray2"
                    placeholder="Enter New Password"
                    required
                  />
                  <i
                    (click)="showPassword(pass)"
                    [class]="pass.type === 'password' ? 'fa-eye-slash' : 'fa-eye'"
                    class="fa-solid absolute text-fontGray2 text-xs right-2 top-1/2 -translate-y-1/2 cursor-pointer"
                  ></i>
                </div>

                @if (newPassword.invalid && newPassword.touched) {
                  <div class="flex flex-col gap-1 text-2xs mb-4 text-red-500">
                    @if (newPassword.hasError('required')) {
                      <p class="flex items-start gap-2">
                        <i class="fa-solid fa-right-long p-0.5"></i>
                        <span>Password is required.</span>
                      </p>
                    } @else if (newPassword.hasError('pattern')) {
                      <p class="flex items-start gap-2">
                        <i class="fa-solid fa-right-long p-0.5"></i>
                        <span>Must be 5-14 characters.</span>
                      </p>
                    }
                  </div>
                }
              </div>

              <button
                type="submit"
                class="w-full text-white bg-mainColorLight hover:bg-mainColorDark focus:ring-2 focus:outline-none focus:ring-mainExtraLight font-medium rounded-lg text-sm px-5 py-2 text-center transition-colors flex justify-center items-center gap-2 mb-5 cursor-pointer"
              >
                Rest Password <i class="fa-solid fa-arrow-right text-xs"></i>
              </button>
            </form>
          }
        </div>
      </div>
    </div>
  </div>
</div>
