<div class="min-h-screen bg-mainBg p-4 md:p-6 lg:p-8 font-sans smooth-appear">
  <div class="mb-6">
    <h1 class="text-3xl font-bold text-mainColorDark mb-1">User Profile</h1>
    <p class="text-fontGray2 text-sm">Welcome back to your architectural sanctuary.</p>
  </div>

  @if (roleNow() === 'MEMBER') {
    <button
      (click)="openRatedModal()"
      class="w-full bg-green-500 hover:bg-green-700 text-white font-semibold cursor-pointer my-3 py-2.5 px-4 rounded-lg transition-colors text-md"
    >
      Rate Us
    </button>
  }
  <div class="grid grid-cols-1 gap-6">
    <div
      class="lg:col-span-1 bg-white rounded-2xl p-6 shadow-sm flex flex-col h-full border border-gray-100"
    >
      <div class="flex flex-wrap-reverse">
        <div class="flex flex-col flex-1 items-start gap-6">
          <div class="flex flex-row flex-wrap items-center justify-center gap-2">
            <p class="text-fontGray1 font-bold">
              {{ userProfileData()?.fullName }}"<span class="text-green-600 capitalize">
                @if (roleNow()) {
                  {{ roleNow() }}
                } @else {
                  {{ 'MEMBER' }}
                }</span
              >"
            </p>
          </div>
          <div class="flex flex-col items-center">
            <img
              [src]="
                userProfileData()?.avatarBase64
                  ? userProfileData()?.avatarBase64
                  : '/img/defaultImg.webp'
              "
              alt="Profile"
              class="size-24 rounded-2xl object-cover mb-3 shadow-sm"
            />
            <input (change)="changeImg($event)" class="hidden" type="file" id="uploadAvatar" />
            @if (!imgUrl()) {
              <label class="cursor-pointer font-bold text-beigeTextBadge" for="uploadAvatar"
                ><i class="fa-solid fa-photo-film"></i> Edit Profile Pic</label
              >
            }
          </div>

          <div class="flex flex-row flex-wrap gap-2">
            <div class="flex flex-col gap-2 justify-center px-4">
              <div class="flex flex-row flex-wrap items-center gap-1 mb-1">
                <p class="text-xs font-semibold text-linksColor2 capitalize tracking-wider">
                  User Id:
                </p>
                <p class="text-fontGray1 font-bold">{{ userProfileData()?.id }}</p>
              </div>
              <div class="flex flex-row flex-wrap items-center gap-1 mb-1">
                <p class="text-xs font-semibold text-linksColor2 capitalize tracking-wider">
                  User Name:
                </p>
                <p class="text-fontGray1 font-bold">{{ userProfileData()?.username }}</p>
              </div>
              <div class="flex flex-row flex-wrap items-center gap-1 mb-1">
                <p class="text-xs font-semibold text-linksColor2 capitalize tracking-wider">
                  Job Title:
                </p>
                <p class="text-fontGray1 font-bold">{{ userProfileData()?.jobTitle }}</p>
              </div>
            </div>
            <div class="flex flex-col gap-2 justify-center px-4">
              <div class="flex flex-row flex-wrap items-center gap-1 mb-1">
                <p class="text-xs font-semibold text-linksColor2 capitalize tracking-wider">
                  Company Name:
                </p>
                <p class="text-fontGray1 font-bold">{{ userProfileData()?.companyName }}</p>
              </div>
              <div class="flex flex-row flex-wrap items-center gap-1 mb-1">
                <p class="text-xs font-semibold text-linksColor2 capitalize tracking-wider">
                  Phone Number:
                </p>
                <p class="text-fontGray1 font-bold">01000000000</p>
              </div>
              <div class="flex flex-row flex-wrap items-center gap-1 mb-1">
                <p class="text-xs font-semibold text-linksColor2 capitalize tracking-wider">
                  Email Address:
                </p>
                <p class="text-fontGray1 font-bold">{{ userProfileData()?.email }}</p>
              </div>
            </div>
            <div class="flex flex-col gap-2 justify-center px-4"></div>
          </div>

          <div class="flex-1 space-y-4"></div>
        </div>
        <div class="flex flex-col flex-1 items-center gap-6 smooth-appear">
          @if (imgUrl()) {
            <img [src]="imgUrl()" class="size-80 object-cover smooth-appear" alt="Profile Avatar" />
            <label
              class="cursor-pointer font-bold text-beigeTextBadge mt-2.5 smooth-appear"
              for="uploadAvatar"
              ><i class="fa-solid fa-rotate mr-1"></i> <i class="fa-solid fa-photo-film"></i> Choose
              another</label
            >
            <div class="flex flex-row flex-wrap gap-2.5 items-center py-3 smooth-appear">
              <button
                (click)="uploadImg()"
                class="font-bold bg-mainColorDark text-white shadow px-4 py-1 rounded-full cursor-pointer disabled:bg-fontGray2 disabled:cursor-not-allowed"
                [disabled]="!imgUrl()"
              >
                Save <i class="fa-solid fa-check"></i>
              </button>
              <button
                (click)="cancelUploadImg()"
                class="font-bold bg-red-500 text-white shadow px-4 py-1 rounded-full cursor-pointer disabled:bg-fontGray2 disabled:cursor-not-allowed"
                [disabled]="!imgUrl()"
              >
                Cancel <i class="fa-solid fa-xmark"></i>
              </button>
            </div>
          }
        </div>
      </div>

      <div class="flex justify-between mt-auto pt-4 border-t border-gray-100">
        <button
          (click)="showModalToEditProfileData()"
          type="button"
          class="text-mainColorDark font-bold text-sm hover:text-mainColorLight transition-colors flex items-center gap-2 cursor-pointer"
        >
          Edit Profile Details <i class="fa-solid fa-pen text-xl"></i>
        </button>
        <button
          (click)="openModalToDeleteUser()"
          type="button"
          class="text-red-500 font-bold text-sm hover:text-red-700 transition-colors flex items-center gap-2 cursor-pointer"
        >
          Delete My User <i class="fa-solid fa-user-xmark text-xl"></i>
        </button>
      </div>
    </div>
  </div>
</div>
@if (showModalEditProfileData()) {
  <div
    class="bg-black/50 overflow-y-auto overflow-x-hidden fixed inset-0 z-50 flex justify-center items-center w-full md:inset-0 h-full max-h-full"
  >
    <div class="relative p-4 w-full max-w-md max-h-full smooth-appear">
      <div
        class="relative bg-neutral-primary-soft border border-default rounded-base shadow-sm p-4 md:p-6"
      >
        <div class="flex items-center justify-between border-b border-default pb-4 md:pb-5">
          <h3 class="text-lg font-medium text-heading">Update Your Data</h3>
          <button
            (click)="closeModalToEditProfileData()"
            type="button"
            class="text-body bg-transparent hover:bg-neutral-tertiary transition-all duration-300 hover:text-heading rounded-base text-sm w-9 h-9 ms-auto inline-flex justify-center items-center cursor-pointer"
          >
            <i class="fa-solid fa-x"></i>
          </button>
        </div>

        <form [formGroup]="updateUserData" (ngSubmit)="completeUpdateUserData()">
          <div class="grid grid-cols-1 sm:grid-cols-2 gap-3 my-3">
            <div>
              <div class="">
                <label
                  for="firstName"
                  class="block mb-1 text-2xs font-bold text-linksColor1 capitalize tracking-wider"
                  >First Name</label
                >
                <div class="relative">
                  <input
                    [class]="{
                      'border-green-500': updateUserData.get('firstName')?.valid,
                      'border-red-500':
                        updateUserData.get('firstName')?.invalid &&
                        updateUserData.get('firstName')?.touched,
                    }"
                    formControlName="firstName"
                    type="text"
                    id="firstName"
                    class="placeholder:text-2xs bg-white border border-gray-200 text-gray-900 text-sm rounded-lg focus:ring-mainColorLight focus:border-mainColorLight block w-full p-2 shadow-sm"
                    placeholder="Enter first name"
                    required
                  />
                </div>
              </div>

              @if (
                updateUserData.get('firstName')?.invalid && updateUserData.get('firstName')?.touched
              ) {
                <div class="flex flex-col gap-1 text-2xs text-red-500 mt-1">
                  @if (updateUserData.get('firstName')?.hasError('required')) {
                    <p class="flex items-start gap-2">
                      <i class="fa-solid fa-right-long p-0.5"></i>
                      <span>First name is required.</span>
                    </p>
                  } @else if (updateUserData.get('firstName')?.hasError('minlength')) {
                    <p class="flex items-start gap-2">
                      <i class="fa-solid fa-right-long p-0.5"></i>
                      <span>First name must be at least 3 characters.</span>
                    </p>
                  }
                </div>
              }
            </div>

            <div>
              <div class="">
                <label
                  for="lastName"
                  class="block mb-1 text-2xs font-bold text-linksColor1 capitalize tracking-wider"
                  >Last Name</label
                >
                <div class="relative">
                  <input
                    #rePass
                    [class]="{
                      'border-green-500': updateUserData.get('lastName')?.valid,
                      'border-red-500':
                        updateUserData.get('lastName')?.invalid &&
                        updateUserData.get('lastName')?.touched,
                    }"
                    formControlName="lastName"
                    type="text"
                    id="lastName"
                    class="placeholder:text-2xs bg-white border border-gray-200 text-gray-900 text-sm rounded-lg focus:ring-mainColorLight focus:border-mainColorLight block w-full p-2 shadow-sm"
                    placeholder="Enter last name"
                    required
                  />
                </div>
              </div>

              @if (
                updateUserData.get('lastName')?.invalid && updateUserData.get('lastName')?.touched
              ) {
                <div class="flex flex-col gap-1 text-2xs text-red-500 mt-1">
                  @if (updateUserData.get('lastName')?.hasError('required')) {
                    <p class="flex items-start gap-2">
                      <i class="fa-solid fa-right-long p-0.5"></i>
                      <span>Last name is required.</span>
                    </p>
                  } @else if (updateUserData.get('lastName')?.hasError('minlength')) {
                    <p class="flex items-start gap-2">
                      <i class="fa-solid fa-right-long p-0.5"></i>
                      <span>Last name must be at least 3 characters.</span>
                    </p>
                  }
                </div>
              }
            </div>
          </div>

          <div class="mb-3">
            <label
              for="username"
              class="block mb-1 text-2xs font-bold text-linksColor1 capitalize tracking-wider"
              >User Name</label
            >
            <input
              [class]="{
                'border-green-500': updateUserData.get('username')?.valid,
                'border-red-500':
                  updateUserData.get('username')?.invalid &&
                  updateUserData.get('username')?.touched,
              }"
              formControlName="username"
              type="text"
              id="username"
              class="placeholder:text-2xs bg-white border border-gray-200 text-gray-900 text-sm rounded-lg focus:ring-mainColorLight focus:border-mainColorLight block w-full p-2 shadow-sm"
              placeholder="Enter User name"
              required
            />
          </div>

          @if (updateUserData.get('username')?.invalid && updateUserData.get('username')?.touched) {
            <div class="flex flex-col gap-1 text-2xs mb-3 text-red-500 -mt-2">
              @if (updateUserData.get('username')?.hasError('required')) {
                <p class="flex items-start gap-2">
                  <i class="fa-solid fa-right-long p-0.5"></i>
                  <span>User name is required.</span>
                </p>
              } @else if (updateUserData.get('username')?.hasError('minlength')) {
                <p class="flex items-start gap-2">
                  <i class="fa-solid fa-right-long p-0.5"></i>
                  <span>User name must be at least 3 characters.</span>
                </p>
              }
            </div>
          }

          <div class="mb-3">
            <label
              for="jobTitle"
              class="block mb-1 text-2xs font-bold text-linksColor1 capitalize tracking-wider"
              >Job Title</label
            >
            <input
              [class]="{
                'border-green-500': updateUserData.get('jobTitle')?.valid,
                'border-red-500':
                  updateUserData.get('jobTitle')?.invalid &&
                  updateUserData.get('jobTitle')?.touched,
              }"
              formControlName="jobTitle"
              type="text"
              id="jobTitle"
              class="placeholder:text-2xs bg-white border border-gray-200 text-gray-900 text-sm rounded-lg focus:ring-mainColorLight focus:border-mainColorLight block w-full p-2 shadow-sm"
              placeholder="Enter your Job Title"
              required
            />
          </div>

          @if (updateUserData.get('jobTitle')?.invalid && updateUserData.get('jobTitle')?.touched) {
            <div class="flex flex-col gap-1 text-2xs mb-3 text-red-500 -mt-2">
              @if (updateUserData.get('jobTitle')?.hasError('required')) {
                <p class="flex items-start gap-2">
                  <i class="fa-solid fa-right-long p-0.5"></i>
                  <span>Job Title is required.</span>
                </p>
              } @else if (updateUserData.get('jobTitle')?.hasError('minlength')) {
                <p class="flex items-start gap-2">
                  <i class="fa-solid fa-right-long p-0.5"></i>
                  <span>Job Title must be at least 3 characters.</span>
                </p>
              }
            </div>
          }

          <div class="mb-3">
            <label
              for="companyName"
              class="block mb-1 text-2xs font-bold text-linksColor1 capitalize tracking-wider"
              >Company Name</label
            >
            <input
              [class]="{
                'border-green-500': updateUserData.get('companyName')?.valid,
                'border-red-500':
                  updateUserData.get('companyName')?.invalid &&
                  updateUserData.get('companyName')?.touched,
              }"
              formControlName="companyName"
              type="text"
              id="companyName"
              class="placeholder:text-2xs bg-white border border-gray-200 text-gray-900 text-sm rounded-lg focus:ring-mainColorLight focus:border-mainColorLight block w-full p-2 shadow-sm"
              placeholder="Enter your Company name"
              required
            />
          </div>

          @if (
            updateUserData.get('companyName')?.invalid && updateUserData.get('companyName')?.touched
          ) {
            <div class="flex flex-col gap-1 text-2xs mb-3 text-red-500 -mt-2">
              @if (updateUserData.get('companyName')?.hasError('required')) {
                <p class="flex items-start gap-2">
                  <i class="fa-solid fa-right-long p-0.5"></i>
                  <span>Company name is required.</span>
                </p>
              } @else if (updateUserData.get('companyName')?.hasError('minlength')) {
                <p class="flex items-start gap-2">
                  <i class="fa-solid fa-right-long p-0.5"></i>
                  <span>Company Name must be at least 3 characters.</span>
                </p>
              }
            </div>
          }

          <div class="mb-3">
            <label
              for="email"
              class="block mb-1 text-2xs font-bold text-linksColor1 capitalize tracking-wider"
              >Email Address</label
            >
            <input
              [class]="{
                'border-green-500': updateUserData.get('email')?.valid,
                'border-red-500':
                  updateUserData.get('email')?.invalid && updateUserData.get('email')?.touched,
              }"
              formControlName="email"
              type="email"
              id="email"
              class="placeholder:text-2xs bg-white border border-gray-200 text-gray-900 text-sm rounded-lg focus:ring-mainColorLight focus:border-mainColorLight block w-full p-2 shadow-sm"
              placeholder="name@misa7a.com"
              required
            />
          </div>

          @if (updateUserData.get('email')?.invalid && updateUserData.get('email')?.touched) {
            <div class="flex flex-col gap-1 text-2xs mb-3 text-red-500 -mt-2">
              @if (updateUserData.get('email')?.hasError('required')) {
                <p class="flex items-start gap-2">
                  <i class="fa-solid fa-right-long p-0.5"></i>
                  <span>Email is required.</span>
                </p>
              } @else if (updateUserData.get('email')?.hasError('email')) {
                <p class="flex items-start gap-2">
                  <i class="fa-solid fa-right-long p-0.5"></i>
                  <span>Please enter a valid email address.</span>
                </p>
              }
            </div>
          }

          <div class="mb-3">
            <label
              for="phone"
              class="block mb-1 text-2xs font-bold text-linksColor1 capitalize tracking-wider"
              >Phone Number</label
            >
            <input
              [class]="{
                'border-green-500': updateUserData.get('phone')?.valid,
                'border-red-500':
                  updateUserData.get('phone')?.invalid && updateUserData.get('phone')?.touched,
              }"
              formControlName="phone"
              type="tel"
              id="phone"
              class="placeholder:text-2xs bg-white border border-gray-200 text-gray-900 text-sm rounded-lg focus:ring-mainColorLight focus:border-mainColorLight block w-full p-2 shadow-sm"
              placeholder="01000000000"
              required
            />
          </div>

          @if (updateUserData.get('phone')?.invalid && updateUserData.get('phone')?.touched) {
            <div class="flex flex-col gap-1 text-2xs mb-3 text-red-500 -mt-2">
              @if (updateUserData.get('phone')?.hasError('required')) {
                <p class="flex items-start gap-2">
                  <i class="fa-solid fa-right-long p-0.5"></i>
                  <span>Phone number is required.</span>
                </p>
              } @else if (updateUserData.get('phone')?.hasError('pattern')) {
                <p class="flex items-start gap-2">
                  <i class="fa-solid fa-right-long p-0.5"></i>
                  <span
                    >Invalid format. Must start with (010, 011, 012, or 015) and be 11 digits.</span
                  >
                </p>
              }
            </div>
          }

          <div class="mb-7">
            <label
              for="password"
              class="block mb-1 text-2xs font-bold text-linksColor1 capitalize tracking-wider"
              >New password</label
            >
            <div class="relative">
              <input
                #pass
                [class]="{
                  'border-green-500': updateUserData.get('password')?.valid,
                  'border-red-500':
                    updateUserData.get('password')?.invalid &&
                    updateUserData.get('password')?.touched,
                }"
                formControlName="password"
                type="password"
                id="password"
                class="placeholder:text-2xs bg-white border border-gray-200 text-gray-900 text-sm rounded-lg focus:ring-mainColorLight focus:border-mainColorLight block w-full p-2 shadow-sm"
                placeholder="Enter your New password"
                required
              />
              <i
                (click)="showPassword(pass)"
                [class]="pass.type === 'password' ? 'fa-eye-slash' : 'fa-eye'"
                class="fa-solid absolute text-fontGray2 text-xs right-2 top-1/2 -translate-y-1/2 cursor-pointer"
              ></i>
            </div>
          </div>

          @if (updateUserData.get('password')?.invalid && updateUserData.get('password')?.touched) {
            <div class="flex flex-col gap-1 text-2xs mb-3 text-red-500 -mt-2">
              @if (updateUserData.get('password')?.hasError('required')) {
                <p class="flex items-start gap-2">
                  <i class="fa-solid fa-right-long p-0.5"></i>
                  <span>Password is required.</span>
                </p>
              } @else if (updateUserData.get('password')?.hasError('pattern')) {
                <p class="flex items-start gap-2">
                  <i class="fa-solid fa-right-long p-0.5"></i>
                  <span>Must be 5-14 characters.</span>
                </p>
              }
            </div>
          }

          <button
            type="submit"
            class="w-full text-white bg-mainColorLight hover:bg-mainColorDark focus:ring-2 focus:outline-none focus:ring-mainExtraLight font-medium rounded-lg text-sm px-5 py-2 text-center transition-colors cursor-pointer"
          >
            Create Account
          </button>
        </form>
      </div>
    </div>
  </div>
}

@if (showModalDeleteUser()) {
  <div
    class="smooth-appear overflow-y-auto bg-black/50 overflow-x-hidden fixed inset-0 z-50 flex justify-center items-center w-full md:inset-0 h-full max-h-full"
  >
    <div class="relative p-4 w-full max-w-md max-h-full">
      <div
        class="relative bg-neutral-primary-soft border border-default rounded-base shadow-sm p-4 md:p-6"
      >
        <button
          (click)="closeModalToDeleteUser()"
          type="button"
          class="absolute top-3 cursor-pointer inset-e-2.5 text-body bg-transparent hover:bg-neutral-tertiary hover:text-heading rounded-base text-sm w-9 h-9 ms-auto inline-flex justify-center items-center"
        >
          <i class="fa-solid fa-x"></i>
        </button>
        <div class="p-4 md:p-5 text-center">
          <i class="fa-solid fa-triangle-exclamation"></i>
          <h3 class="mb-6 text-body">Are you sure you want to delete your user?</h3>
          <div class="flex items-center space-x-4 justify-center">
            <button
              (click)="deleteUserAccount()"
              type="button"
              class="text-white bg-danger cursor-pointer box-border border border-transparent hover:bg-danger-strong focus:ring-4 focus:ring-danger-medium shadow-xs font-medium leading-5 rounded-base text-sm px-4 py-2.5 focus:outline-none"
            >
              Yes, I'm sure
            </button>
            <button
              (click)="closeModalToDeleteUser()"
              type="button"
              class="text-body bg-neutral-secondary-medium cursor-pointer box-border border border-default-medium hover:bg-neutral-tertiary-medium hover:text-heading focus:ring-4 focus:ring-neutral-tertiary shadow-xs font-medium leading-5 rounded-base text-sm px-4 py-2.5 focus:outline-none"
            >
              No, cancel
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
}

@if (showRateModal()) {
  <div
    class="smooth-appear overflow-y-auto overflow-x-hidden fixed z-50 flex justify-center items-center w-full inset-0 h-full max-h-full bg-black/50"
  >
    <div class="relative p-4 w-full max-w-2xl max-h-full">
      <div
        class="relative bg-neutral-primary-soft border border-default rounded-base shadow-sm p-4 md:p-6"
      >
        <div class="flex items-center justify-between border-b border-default pb-4 md:pb-5">
          <h3 class="text-lg font-medium text-heading">Submit a Review</h3>
          <button
            (click)="closeRatedModal()"
            type="button"
            class="cursor-pointer text-body bg-transparent hover:bg-neutral-tertiary hover:text-heading rounded-base text-sm w-9 h-9 ms-auto inline-flex justify-center items-center"
          >
            <i class="fa-solid fa-x"></i>
          </button>
        </div>

        <form [formGroup]="formRatedBooking">
          <div class="grid gap-4 grid-cols-2 py-4 md:py-6">
            <div class="col-span-2 sm:col-span-1">
              <label for="title" class="block mb-2.5 text-sm font-medium text-heading"
                >Review Title</label
              >
              <input
                [class]="{
                  'border-green-500': formRatedBooking.get('title')?.valid,
                  'border-red-500':
                    formRatedBooking.get('title')?.invalid &&
                    formRatedBooking.get('title')?.touched,
                }"
                required
                type="text"
                id="title"
                formControlName="title"
                class="bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-mainColorLight focus:border-mainColorLight block w-full px-3 py-2.5 shadow-xs placeholder:text-body"
                placeholder="e.g., Great workspace, very quiet!"
              />
              @if (
                formRatedBooking.get('title')?.invalid &&
                formRatedBooking.get('title')?.touched &&
                formRatedBooking.get('title')?.hasError('required')
              ) {
                <div class="flex flex-col gap-1 text-2xs text-red-500 mt-1">
                  <p class="flex items-start gap-2">
                    <i class="fa-solid fa-right-long p-0.5"></i>
                    <span>Review Title is required.</span>
                  </p>
                </div>
              }
            </div>

            <div class="col-span-2 sm:col-span-1">
              <label for="rating" class="block mb-2.5 text-sm font-medium text-heading"
                >Rating (1 - 5)</label
              >
              <select
                [class]="{
                  'border-green-500': formRatedBooking.get('rating')?.valid,
                  'border-red-500':
                    formRatedBooking.get('rating')?.invalid &&
                    formRatedBooking.get('rating')?.touched,
                }"
                required
                id="rating"
                formControlName="rating"
                class="block w-full px-3 py-2.5 bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-mainColorLight focus:border-mainColorLight shadow-xs placeholder:text-body"
              >
                <option value="5">5 - Excellent</option>
                <option value="4">4 - Very Good</option>
                <option value="3">3 - Good</option>
                <option value="2">2 - Fair</option>
                <option value="1">1 - Poor</option>
              </select>
              @if (
                formRatedBooking.get('rating')?.invalid &&
                formRatedBooking.get('rating')?.touched &&
                formRatedBooking.get('rating')?.hasError('required')
              ) {
                <div class="flex flex-col gap-1 text-2xs text-red-500 mt-1">
                  <p class="flex items-start gap-2">
                    <i class="fa-solid fa-right-long p-0.5"></i>
                    <span>Rating is required.</span>
                  </p>
                </div>
              }
            </div>

            <div class="col-span-2">
              <label for="body" class="block mb-2.5 text-sm font-medium text-heading"
                >Comment</label
              >
              <textarea
                [class]="{
                  'border-green-500': formRatedBooking.get('body')?.valid,
                  'border-red-500':
                    formRatedBooking.get('body')?.invalid && formRatedBooking.get('body')?.touched,
                }"
                required
                id="body"
                formControlName="body"
                rows="4"
                class="block bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-mainColorLight focus:border-mainColorLight w-full p-3.5 shadow-xs placeholder:text-body"
                placeholder="Share your experience about this workspace..."
              ></textarea>
              @if (
                formRatedBooking.get('body')?.invalid &&
                formRatedBooking.get('body')?.touched &&
                formRatedBooking.get('body')?.hasError('required')
              ) {
                <div class="flex flex-col gap-1 text-2xs text-red-500 mt-1">
                  <p class="flex items-start gap-2">
                    <i class="fa-solid fa-right-long p-0.5"></i>
                    <span>Comment is required.</span>
                  </p>
                </div>
              }
            </div>
          </div>

          <div class="flex items-center space-x-4 border-t border-default pt-4 md:pt-6">
            <button
              (click)="createReview()"
              [disabled]="formRatedBooking.invalid"
              type="submit"
              class="cursor-pointer disabled:opacity-50 disabled:cursor-not-allowed disabled:hover:bg-mainColorLight inline-flex items-center gap-1 text-white bg-mainColorLight hover:bg-mainColorDark box-border border border-transparent focus:ring-4 focus:ring-mainColorLight-medium shadow-xs font-medium leading-5 rounded-base text-sm px-4 py-2.5 focus:outline-none"
            >
              <i class="fa-solid fa-star"></i>
              Submit Review
            </button>

            <button
              (click)="closeRatedModal()"
              type="button"
              class="cursor-pointer text-body bg-neutral-secondary-medium box-border border border-default-medium hover:bg-neutral-tertiary-medium hover:text-heading focus:ring-4 focus:ring-neutral-tertiary shadow-xs font-medium leading-5 rounded-base text-sm px-4 py-2.5 focus:outline-none"
            >
              Cancel
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
}
