<div class="flex min-h-screen bg-mainBg overflow-hidden">
  <a
    routerLink="/home"
    class="hidden lg:flex lg:w-1/2 relative bg-cover bg-center bg-mainColorLight/10 cursor-pointer hover:opacity-95 transition-opacity"
    style="background-image: url('./img/login.png')"
  >
    <div class="absolute inset-0 bg-linear-to-t from-mainColorDark/90 to-transparent"></div>
    <div class="relative z-10 flex flex-col justify-center p-10 xl:p-16 w-full text-white">
      <h1 class="text-3xl xl:text-4xl font-bold mb-4 leading-tight">Misa7a<br />Workspace</h1>
      <p class="text-gray-200 text-sm xl:text-base mb-6 max-w-sm">
        Enter a curated environment where design meets productivity. Your journey to a more focused
        workspace begins with a single step.
      </p>

      <div
        class="inline-flex items-center bg-white/10 backdrop-blur-sm border border-white/20 rounded-lg p-2.5 text-xs xl:text-sm font-medium text-white max-w-max"
      >
        <i class="fa-solid fa-lock text-secColorExtraLight me-2"></i>
        Booking is strictly restricted to authenticated users
      </div>
    </div>
  </a>

  <div class="w-full lg:w-1/2 flex flex-col items-center justify-center p-4 lg:p-8 overflow-y-auto">
    <a
      routerLink="/home"
      class="w-full sm:w-auto bg-gray-100 mb-2.5 hover:bg-gray-200 text-mainColorDark font-bold py-3.5 px-8 rounded-xl transition-colors shadow-sm flex items-center justify-center gap-2.5 text-sm border border-gray-200/50"
    >
      Return Home <i class="fa-solid fa-house text-xs"></i>
    </a>
    <div class="w-full max-w-sm xl:max-w-md my-auto">
      <h1 class="flex items-center gap-2 mb-2 text-mainColorDark font-bold text-lg">
        <img src="./img/Logo-Misa7a-icon.png" class="w-5.5 h-5.5" alt="logo-Misa7a" />
        <span>Misa7a Workspace</span>
      </h1>
      <div class="mb-6">
        <h2 class="text-2xl xl:text-3xl font-bold text-gray-900 mb-1">Welcome Back</h2>
        <p class="text-sm text-fontGray2">
          Please enter your details to access your concierge dashboard.
        </p>
      </div>

      <form [formGroup]="loginForm" (ngSubmit)="sendLoginData()">
        <div class="mb-4">
          <label
            for="username"
            class="block mb-1 text-2xs font-bold text-linksColor1 uppercase tracking-wider"
            >User Name</label
          >
          <div class="relative">
            <div class="absolute inset-y-0 inset-s-0 flex items-center ps-3 pointer-events-none">
              <i class="fa-regular fa-user text-gray-400 text-sm"></i>
            </div>
            <input
              [class]="{
                'border-green-500': loginForm.get('username')?.valid,
                'border-red-500':
                  loginForm.get('username')?.invalid && loginForm.get('username')?.touched,
              }"
              formControlName="username"
              type="text"
              id="username"
              class="placeholder:text-xs bg-white border border-gray-200 text-gray-900 text-sm rounded-lg focus:ring-mainColorLight focus:border-mainColorLight block w-full ps-9 p-2 shadow-sm"
              placeholder="Enter User name"
              required
            />
          </div>
        </div>

        @if (loginForm.get('username')?.invalid && loginForm.get('username')?.touched) {
          <div class="flex flex-col gap-1 text-2xs mb-3 text-red-500 -mt-2">
            @if (loginForm.get('username')?.hasError('required')) {
              <p class="flex items-start gap-2">
                <i class="fa-solid fa-right-long p-0.5"></i>
                <span>User name is required.</span>
              </p>
            } @else if (loginForm.get('username')?.hasError('minlength')) {
              <p class="flex items-start gap-2">
                <i class="fa-solid fa-right-long p-0.5"></i>
                <span>User name must be at least 3 characters.</span>
              </p>
            }
          </div>
        }

        <div class="mb-7">
          <div class="flex justify-between items-center mb-1">
            <label
              for="password"
              class="text-2xs font-bold text-linksColor1 uppercase tracking-wider"
              >Password</label
            >
            <a
              routerLink="/forgot-password"
              class="text-2xs font-bold text-mainColorDark hover:underline"
              >Forgot Password?</a
            >
          </div>
          <div class="relative">
            <div class="absolute inset-y-0 inset-s-0 flex items-center ps-3 pointer-events-none">
              <i class="fa-solid fa-key text-gray-400 text-sm"></i>
            </div>
            <input
              #pass
              [class]="{
                'border-green-500': loginForm.get('password')?.valid,
                'border-red-500':
                  loginForm.get('password')?.invalid && loginForm.get('password')?.touched,
              }"
              formControlName="password"
              type="password"
              id="password"
              class="placeholder:text-xs bg-white border border-gray-200 text-gray-900 text-sm rounded-lg focus:ring-mainColorLight focus:border-mainColorLight block w-full ps-9 p-2 shadow-sm"
              placeholder="••••••••"
              required
            />
            <i
              (click)="showPassword(pass)"
              [class]="pass.type === 'password' ? 'fa-eye-slash' : 'fa-eye'"
              class="fa-solid absolute text-fontGray2 text-xs right-2 top-1/2 -translate-y-1/2 cursor-pointer"
            ></i>
          </div>
        </div>

        @if (loginForm.get('password')?.invalid && loginForm.get('password')?.touched) {
          <div class="flex flex-col gap-1 text-2xs mb-3 text-red-500 -mt-2">
            @if (loginForm.get('password')?.hasError('required')) {
              <p class="flex items-start gap-2">
                <i class="fa-solid fa-right-long p-0.5"></i>
                <span>Password is required.</span>
              </p>
            } @else if (loginForm.get('password')?.hasError('pattern')) {
              <p class="flex items-start gap-2">
                <i class="fa-solid fa-right-long p-0.5"></i>
                <span>Must be 5-14 characters.</span>
              </p>
            }
          </div>
        }

        <button
          type="submit"
          class="w-full text-white bg-mainColorLight hover:bg-mainColorDark focus:ring-2 focus:outline-none focus:ring-mainExtraLight font-medium rounded-lg text-sm px-5 py-2 text-center transition-colors flex justify-center items-center gap-2 cursor-pointer"
        >
          Sign In<i class="fa-solid fa-arrow-right text-xs"></i>
        </button>
      </form>

      <p class="mt-5 text-xs font-medium text-center text-fontGray1 mb-4">
        New to the sanctuary?
        <a routerLink="/registration" class="text-mainColorDark hover:underline font-bold"
          >Create an account</a
        >
      </p>
    </div>
  </div>
</div>
