<div class="min-h-screen bg-mainBg py-10 px-4 md:px-8 lg:px-12 font-sans text-fontGray1">
  <div class="max-w-7xl mx-auto">
    <div class="mb-10 smooth-appear">
      <h1 class="text-4xl font-extrabold text-mainColorDark mb-3">Reserve Your Space</h1>
    </div>

    <div class="grid grid-cols-1 lg:grid-cols-4 gap-8 items-start smooth-appear">
      <div class="lg:col-span-4 space-y-12">
        <section class="mb-4">
          <form
            [formGroup]="formCheckBookingAvailability"
            (ngSubmit)="checkIsvAvailableRoomDate()"
            class="flex flex-col items-center gap-6 grow bg-white rounded-2xl p-6 shadow-sm border border-gray-100"
          >
            <div class="flex flex-row flex-wrap lg:flex-nowrap gap-4">
              <div class="flex flex-row flex-wrap lg:flex-nowrap gap-4 grow">
                <div class="grow">
                  <label for="startTime" class="block mb-2 text-sm font-medium text-heading"
                    >Start time:</label
                  >
                  <div class="relative">
                    <input
                      formControlName="startTimeSelected"
                      type="datetime-local"
                      id="startTime"
                      class="block w-full p-2.5 bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-mainColorLight focus:border-mainColorLight shadow-xs placeholder:text-body"
                      required
                    />
                    @if (
                      formCheckBookingAvailability.get('startTimeSelected')?.invalid &&
                      formCheckBookingAvailability.get('startTimeSelected')?.touched &&
                      formCheckBookingAvailability.get('startTimeSelected')?.hasError('required')
                    ) {
                      <div class="flex flex-col gap-1 text-2xs text-red-500 mt-1">
                        <p class="flex items-start gap-2">
                          <i class="fa-solid fa-right-long p-0.5"></i>
                          <span>Start time is required.</span>
                        </p>
                      </div>
                    }
                  </div>
                </div>
                <div class="grow">
                  <label for="endTime" class="block mb-2 text-sm font-medium text-heading"
                    >End time:</label
                  >
                  <div class="relative">
                    <input
                      type="datetime-local"
                      id="endTime"
                      formControlName="endTimeSelected"
                      class="block w-full p-2.5 bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-mainColorLight focus:border-mainColorLight shadow-xs placeholder:text-body"
                      required
                    />
                    @if (
                      formCheckBookingAvailability.get('endTimeSelected')?.invalid &&
                      formCheckBookingAvailability.get('endTimeSelected')?.touched &&
                      formCheckBookingAvailability.get('endTimeSelected')?.hasError('required')
                    ) {
                      <div class="flex flex-col gap-1 text-2xs text-red-500 mt-1">
                        <p class="flex items-start gap-2">
                          <i class="fa-solid fa-right-long p-0.5"></i>
                          <span>End time is required.</span>
                        </p>
                      </div>
                    }
                  </div>
                </div>
              </div>

              <button
                type="submit"
                class="grow cursor-pointer text-white bg-mainColorLight border border-transparent hover:bg-mainColorDark focus:ring-4 focus:ring-mainColorLight-medium shadow-xs font-medium leading-5 rounded-base text-sm px-4 py-2.5 focus:outline-none"
              >
                Check availability
              </button>
            </div>
          </form>
        </section>

        <section
          class="bg-white rounded-2xl p-6 shadow-sm border border-gray-100 flex items-center justify-center flex-col gap-8"
        >
          @if (showBtnFilter()) {
            <button
              (click)="resetFilter()"
              class="smooth-appear grow cursor-pointer text-white bg-orange-700 hover:bg-orange-800 border border-transparent focus:ring-4 focus:ring-mainColorLight-medium shadow-xs font-medium leading-5 rounded-base text-sm px-4 py-2.5 focus:outline-none"
            >
              <i class="fa-solid fa-arrows-rotate"></i>
              Reset Filter
            </button>
          }

          <div class="max-w-[95%] mx-auto mt-5 smooth-appear">
            <div class="flex items-center justify-between mb-6">
              @if (workspaces().length > 0) {
                <h2 class="text-2xl font-bold text-mainColorDark">Available Workspaces</h2>

                <span
                  class="bg-badgeBgColor text-badgeTextColor text-sm font-medium px-3 py-1 rounded-full"
                >
                  {{ workspaces().length }} Spaces
                </span>
              }
            </div>

            <div class="flex flex-col gap-4 mb-5">
              @if (workspaces().length > 0) {
                <div
                  class="hidden lg:grid lg:grid-cols-12 gap-4 px-6 py-3 bg-gray-50 border border-gray-100 rounded-xl text-xs font-bold text-fontGray1 uppercase tracking-wider"
                >
                  <div class="text-start col-span-1">Id</div>
                  <div class="text-center col-span-3">Workspace Details</div>
                  <div class="text-center col-span-2">Type & Status</div>
                  <div class="text-center col-span-4">Location & Capacity</div>
                  <div class="text-end col-span-2">Price</div>
                </div>
              }

              @for (workspace of workspaces(); track workspace.id; let i = $index) {
                <div
                  (click)="selectRoom(workspace.id)"
                  class="smooth-appear cursor-pointer items-center bg-white border border-gray-100 rounded-xl p-5 shadow-sm hover:shadow-md transition-shadow duration-200 relative overflow-hidden"
                  [class]="
                    selectedRoomId() === workspace.id
                      ? 'border-mainColorDark ring-1 ring-mainColorDark shadow-lg smooth-scale'
                      : 'border-gray-200 hover:border-gray-300 shadow-sm'
                  "
                >
                  @if (selectedRoomId() === workspace.id) {
                    <button
                      (click)="checkIsAvailableRoomId()"
                      class="opacity-scale cursor-pointer absolute inset-be-0 inset-s-0 bg-yellow-700 hover:bg-yellow-900 text-white text-2xs font-bold uppercase tracking-wider px-3 py-3 rounded-tr z-10 shadow-md"
                    >
                      Check
                    </button>
                    <button
                      (click)="showModalForBook(workspace.id)"
                      class="opacity-scale cursor-pointer absolute inset-be-0 inset-e-0 bg-green-700 hover:bg-green-900 text-white text-2xs font-bold uppercase tracking-wider px-3 py-3 rounded-tl z-10 shadow-md"
                    >
                      Book Now
                    </button>
                  }
                  <div class="grid grid-cols-1 lg:grid-cols-12 gap-4">
                    @if (workspace.isFeatured === 1) {
                      <div
                        class="absolute top-0 left-0 w-1.5 h-full bg-secColorLight"
                        title="Custom Workspace"
                      ></div>
                    }

                    <div class="col-span-1 lg:col-span-1 flex flex-col items-start">
                      <h3
                        class="text-base font-bold text-mainColorDark truncate"
                        [title]="workspace.workspaceName"
                      >
                        {{ workspace.id }}
                      </h3>
                    </div>

                    <div class="flex items-center col-span-1 lg:col-span-3 flex-col pl-2">
                      <div class="flex items-center gap-2">
                        <h3
                          class="text-base font-bold text-mainColorDark truncate"
                          [title]="workspace.workspaceName"
                        >
                          {{ workspace.workspaceName }}
                        </h3>
                        @if (workspace.isFeatured === 1) {
                          <i class="fa-solid fa-star text-secColorLight text-xs" title="VIP"></i>
                        }
                      </div>
                      <p class="text-xs font-medium text-mainColorLight mt-1">
                        {{ workspace.workspaceCode }}
                      </p>
                    </div>

                    <div
                      class="col-span-1 lg:col-span-2 flex flex-row lg:flex-col gap-2 lg:gap-1.5 items-center"
                    >
                      <span
                        class="px-2.5 py-1 bg-mainExtraLight text-mainColorDark text-xs font-medium rounded-full"
                      >
                        {{ workspace.typeName }}
                      </span>
                    </div>

                    <div
                      class="col-span-1 lg:col-span-4 flex flex-row lg:flex-col items-center gap-4 lg:gap-1.5 text-sm text-fontGray1"
                    >
                      <div class="flex items-center gap-2">
                        <i class="fa-solid fa-users text-linksColor2 text-xs w-4"></i>
                        <span
                          ><strong class="text-mainColorDark">{{ workspace.capacity }}</strong>
                          Persons</span
                        >
                      </div>
                      <div class="flex items-center gap-2">
                        <i class="fa-solid fa-building text-linksColor2 text-xs w-4"></i>
                        <span
                          >Floor:
                          <strong class="text-mainColorDark">{{ workspace.floorNumber }}</strong>
                          | Room:
                          <strong class="text-mainColorDark">{{
                            workspace.roomNumber
                          }}</strong></span
                        >
                      </div>
                    </div>

                    <div
                      class="col-span-1 lg:col-span-2 flex flex-row lg:flex-col items-end border-t lg:border-0 border-gray-100 pt-3 lg:pt-0 mt-2 lg:mt-0"
                    >
                      <span class="text-xs text-fontGray1 block lg:hidden">Hourly Rate: </span>
                      <div>
                        <span class="text-lg font-bold text-mainColorDark">{{
                          workspace.priceHourly
                        }}</span>
                        <span class="text-xs font-medium text-fontGray2 ml-1">EGP/hr</span>
                      </div>
                    </div>
                  </div>
                  <div class="flex flex-col text-center">
                    <p class="pt-5 mt-5 border-t border-fontGray2/15">
                      {{ workspace.description }}
                    </p>
                  </div>
                </div>
              } @empty {
                <div class="py-16 text-center">
                  <i class="fa-solid fa-people-roof text-5xl text-gray-200 mb-4"></i>
                  <h3 class="text-lg font-bold text-mainColorDark">No Workspaces Found</h3>
                </div>
              }
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>

@if (isCheckModalVisible()) {
  <div
    class="smooth-appear bg-black/50 overflow-y-auto overflow-x-hidden fixed inset-0 z-50 flex justify-center items-center w-full md:inset-0 h-full max-h-full"
  >
    <div class="relative p-4 w-full max-w-md max-h-full">
      <div
        class="relative bg-neutral-primary-soft border border-default rounded-base shadow-sm p-4 md:p-6"
      >
        <button
          (click)="showAndCloseCheckModalByRoom()"
          type="button"
          class="absolute cursor-pointer top-3 inset-e-2.5 text-body bg-transparent hover:bg-neutral-tertiary hover:text-heading rounded-base text-sm w-9 h-9 ms-auto inline-flex justify-center items-center"
        >
          <i class="fa-solid fa-x"></i>
          <span class="sr-only">Close modal</span>
        </button>
        <div class="p-4 md:p-5 flex flex-col gap-10 items-center">
          @if (isCheckRoomAvailable()) {
            <i class="fa-solid fa-circle-check scale-500 text-green-600"></i>
            <h3 class="text-body font-bold text-2xl">Room Is Available</h3>
            <div class="flex items-center space-x-4 justify-center">
              <button
                (click)="showModalForBook(selectedRoomId())"
                type="button"
                class="text-white bg-green-700 cursor-pointer box-border border border-default-medium hover:bg-green-900 focus:ring-4 focus:ring-neutral-tertiary shadow-xs font-medium leading-5 rounded-base text-sm px-4 py-2.5 focus:outline-none"
              >
                Book Now
              </button>
            </div>
          } @else {
            <i class="fa-solid fa-x scale-500 text-red-600"></i>
            <h3 class="text-body font-bold text-2xl">Room Is Not Available</h3>
            <div class="flex items-center space-x-4 justify-center">
              <button
                (click)="showAndCloseCheckModalByRoom()"
                type="button"
                class="text-white bg-red-700 cursor-pointer box-border border border-default-medium hover:bg-red-900 focus:ring-4 focus:ring-neutral-tertiary shadow-xs font-medium leading-5 rounded-base text-sm px-4 py-2.5 focus:outline-none"
              >
                Cancel
              </button>
            </div>
          }
        </div>
      </div>
    </div>
  </div>
}

@if (isModalBookVisible()) {
  <div
    class="smooth-appear overflow-y-auto overflow-x-hidden fixed z-50 flex justify-center items-center w-full inset-0 h-full max-h-full bg-black/50"
  >
    <div class="relative p-4 w-full max-w-2xl max-h-full">
      <div
        class="relative bg-neutral-primary-soft border border-default rounded-base shadow-sm p-4 md:p-6"
      >
        <div class="flex items-center justify-between border-b border-default pb-4 md:pb-5">
          <h3 class="text-lg font-medium text-heading">Confirm New Booking</h3>
          <button
            (click)="hideModalForBook()"
            type="button"
            class="cursor-pointer text-body bg-transparent hover:bg-neutral-tertiary hover:text-heading rounded-base text-sm w-9 h-9 ms-auto inline-flex justify-center items-center"
          >
            <i class="fa-solid fa-x"></i>
            <span class="sr-only">Close modal</span>
          </button>
        </div>

        <form [formGroup]="formConfirmBooking" (ngSubmit)="isLoggedInUser()">
          <div class="grid gap-4 grid-cols-2 py-4 md:py-6">
            <div class="col-span-2 sm:col-span-1">
              <label for="startDatetime" class="block mb-2.5 text-sm font-medium text-heading"
                >Start Time</label
              >
              <input
                required
                type="datetime-local"
                formControlName="startDatetime"
                id="startDatetime"
                class="bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-mainColorLight focus:border-mainColorLight block w-full px-3 py-2.5 shadow-xs placeholder:text-body"
              />
            </div>

            <div class="col-span-2 sm:col-span-1">
              <label for="endDatetime" class="block mb-2.5 text-sm font-medium text-heading"
                >End Time</label
              >
              <input
                required
                type="datetime-local"
                id="endDatetime"
                formControlName="endDatetime"
                class="bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-mainColorLight focus:border-mainColorLight block w-full px-3 py-2.5 shadow-xs placeholder:text-body"
              />
            </div>

            <div class="col-span-2 sm:col-span-1">
              <label for="durationType" class="block mb-2.5 text-sm font-medium text-heading"
                >Duration Type</label
              >
              <select
                required
                id="durationType"
                formControlName="durationType"
                class="block w-full px-3 py-2.5 bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-mainColorLight focus:border-mainColorLight shadow-xs placeholder:text-body"
              >
                <option selected value="HOURLY" selected>Hourly</option>
                <option value="DAILY">Daily</option>
                <option value="MONTHLY">Monthly</option>
              </select>
            </div>

            <div class="col-span-2 sm:col-span-1">
              <label for="numAttendees" class="block mb-2.5 text-sm font-medium text-heading"
                >Number of Attendees</label
              >
              <input
                required
                type="number"
                id="numAttendees"
                formControlName="numAttendees"
                class="bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-mainColorLight focus:border-mainColorLight block w-full px-3 py-2.5 shadow-xs placeholder:text-body"
                min="1"
              />
            </div>

            <div class="col-span-2">
              <label for="purpose" class="block mb-2.5 text-sm font-medium text-heading"
                >Purpose</label
              >
              <input
                required
                type="text"
                id="purpose"
                formControlName="purpose"
                class="bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-mainColorLight focus:border-mainColorLight block w-full px-3 py-2.5 shadow-xs placeholder:text-body"
                value="Meeting"
              />
            </div>

            <div class="col-span-2">
              <label for="internalNotes" class="block mb-2.5 text-sm font-medium text-heading"
                >Internal Notes</label
              >
              <textarea
                required
                id="internalNotes"
                formControlName="internalNotes"
                rows="3"
                class="block bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-mainColorLight focus:border-mainColorLight w-full p-3.5 shadow-xs placeholder:text-body"
                placeholder="Write any internal notes here..."
              ></textarea>
            </div>
          </div>

          <div class="flex items-center space-x-4 border-t border-default pt-4 md:pt-6">
            <button
              type="submit"
              class="cursor-pointer inline-flex items-center gap-1 text-white bg-mainColorLight hover:bg-mainColorDark box-border border border-transparent focus:ring-4 focus:ring-mainColorLight-medium shadow-xs font-medium leading-5 rounded-base text-sm px-4 py-2.5 focus:outline-none"
            >
              <i class="fa-solid fa-plus"></i>
              Confirm Booking
            </button>
            <button
              (click)="hideModalForBook()"
              type="button"
              class="cursor-pointer text-body bg-neutral-secondary-medium box-border border border-default-medium hover:bg-neutral-tertiary-medium hover:text-heading focus:ring-4 focus:ring-neutral-tertiary shadow-xs font-medium leading-5 rounded-base text-sm px-4 py-2.5 focus:outline-none"
            >
              Cancel
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
}

@if (isModalConfirmBookingVisible()) {
  <div
    class="smooth-appear flex items-center justify-center fixed inset-0 z-50 w-full p-4 bg-black/50 overflow-x-hidden overflow-y-auto md:inset-0 h-full max-h-full"
  >
    <div class="relative w-full max-w-md max-h-full">
      <div
        class="relative bg-neutral-primary-soft border border-default rounded-base shadow-sm px-2 py-4"
      >
        <div class="flex items-center justify-between border-b border-default pb-1">
          <h3 class="text-lg font-medium text-center text-heading">Confirm payment details</h3>
          <button
            (click)="showModalSuccess()"
            type="button"
            class="cursor-pointer text-body bg-transparent hover:bg-neutral-tertiary hover:text-heading rounded-base text-sm w-9 h-9 ms-auto inline-flex justify-center items-center"
          >
            <i class="fa-solid fa-x"></i>
            <span class="sr-only">Close modal</span>
          </button>
        </div>
        <p class="text-[1rem] font-medium text-center text-orange-600 pt-1">
          Send the booking fee using any of these methods
        </p>
        <div
          class="text-[1rem] font-medium text-center text-mainColorDark pt-1 flex flex-row flex-wrap items-center justify-between"
        >
          <p>
            Booking Ref:
            <Span class="text-green-600 font-bold">{{ resAfterBooking().bookingRef }}</Span>
          </p>
          <p>
            Number Attendees:
            <Span class="text-green-600 font-bold">{{ resAfterBooking().numAttendees }}</Span>
          </p>
        </div>
        <div
          class="text-[1rem] font-medium text-center text-mainColorDark pt-1 flex flex-row flex-wrap items-center justify-between"
        >
          <p>
            Status:
            <Span class="text-red-600 font-bold">{{ resAfterBooking().status }}</Span>
          </p>
          <p>
            Total Amount:
            <Span class="text-green-600 font-bold"
              >{{ resAfterBooking().totalAmount }} {{ resAfterBooking().currency }}</Span
            >
          </p>
        </div>

        <div class="space-y-4 md:space-y-6 py-4 md:py-6">
          <ul class="flex flex-col gap-4 text-sm text-gray-600 w-full">
            <li class="flex items-center gap-3">
              <div
                class="shrink-0 flex items-center justify-center w-10 h-10 rounded-full bg-purple-50 text-purple-600"
              >
                <i class="fa-solid fa-bolt text-lg"></i>
              </div>
              <div class="flex flex-col">
                <span class="font-bold text-gray-800">InstaPay address</span>
                <span class="text-gray-500 font-medium">01012345678</span>
              </div>
            </li>

            <li class="flex items-center gap-3">
              <div
                class="shrink-0 flex items-center justify-center w-10 h-10 rounded-full bg-red-50 text-red-500"
              >
                <i class="fa-solid fa-wallet text-lg"></i>
              </div>
              <div class="flex flex-col">
                <span class="font-bold text-gray-800">Electronic wallet (cash)</span>
                <span class="text-gray-500 font-medium">01012345678</span>
              </div>
            </li>

            <li class="flex items-start gap-3 pt-3 mt-1 border-t border-gray-200">
              <div
                class="shrink-0 flex items-center justify-center w-10 h-10 rounded-full bg-green-50 text-green-600"
              >
                <i class="fa-solid fa-envelope-open-text text-lg"></i>
              </div>
              <div class="flex flex-col leading-relaxed">
                <span class="font-bold text-gray-800">Payment confirmation</span>
                <span class="text-gray-500"
                  >Send the transfer receipt (screenshot) with
                  <span class="text-green-600 font-bold">Booking Ref</span>
                  Number to:</span
                >
                <a
                  href="mailto:payments@misa7a.com"
                  class="text-mainColorLight hover:underline font-bold mt-1"
                >
                  payments@misa7a.com
                </a>
              </div>
            </li>
          </ul>
        </div>
        <div
          class="flex items-center justify-center border-t border-default space-x-4 pt-4 md:pt-5"
        >
          <button
            (click)="showModalSuccess()"
            type="button"
            class="cursor-pointer text-white bg-mainColorLight box-border border border-transparent hover:bg-mainColorDark focus:ring-4 focus:ring-brand-medium shadow-xs font-medium leading-5 rounded-base text-sm px-4 py-2.5 focus:outline-none"
          >
            Informed
          </button>
        </div>
      </div>
    </div>
  </div>
}
