<div class="flex min-h-screen bg-mainBg overflow-hidden">
  <a
    routerLink="/home"
    class="hidden lg:flex lg:w-1/2 relative bg-cover bg-center cursor-pointer hover:opacity-95 transition-opacity"
    style="background-image: url('./img/Registration.png')"
  >
    <div class="absolute bg-black/30"></div>
    <div class="relative z-10 flex items-end p-8 w-full">
      <div class="bg-white/70 backdrop-blur-md p-6 rounded-xl max-w-md shadow-lg">
        <h2 class="text-2xl xl:text-3xl font-bold text-mainColorDark mb-2">
          Space for your greatest ideas.
        </h2>
        <p class="text-fontGray1 text-sm">
          Join a global network of professionals in curated environments designed for focus and
          architectural inspiration.
        </p>
      </div>
    </div>
  </a>

  <div
    class="w-full lg:w-1/2 flex flex-col items-center justify-center p-4 lg:px-8 overflow-y-auto"
  >
    <a
      routerLink="/home"
      class="w-full sm:w-auto bg-gray-100 mb-2.5 hover:bg-gray-200 text-mainColorDark font-bold py-3.5 px-8 rounded-xl transition-colors shadow-sm flex items-center justify-center gap-2.5 text-sm border border-gray-200/50"
    >
      Return Home <i class="fa-solid fa-house text-xs"></i>
    </a>
    <div class="w-full max-w-sm xl:max-w-md my-auto">
      <div class="mb-5">
        <h1 class="flex items-center gap-2 mb-2 text-mainColorDark font-bold text-lg">
          <img src="./img/Logo-Misa7a-icon.png" class="w-5.5 h-5.5" alt="logo-Misa7a" />
          <span>Misa7a Workspace</span>
        </h1>
        <h2 class="text-2xl font-bold text-gray-900 mb-1">Create Account</h2>
        <p class="text-sm text-fontGray2">Begin your journey in our architectural sanctuary.</p>
      </div>

      <form [formGroup]="registrationForm" (ngSubmit)="submitForm()">
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-3 mb-3">
          <div>
            <div class="">
              <label
                for="firstName"
                class="block mb-1 text-2xs font-bold text-linksColor1 capitalize tracking-wider"
                >First Name</label
              >
              <div class="relative">
                <input
                  [class]="{
                    'border-green-500': registrationForm.get('firstName')?.valid,
                    'border-red-500':
                      registrationForm.get('firstName')?.invalid &&
                      registrationForm.get('firstName')?.touched,
                  }"
                  formControlName="firstName"
                  type="text"
                  id="firstName"
                  class="placeholder:text-2xs bg-white border border-gray-200 text-gray-900 text-sm rounded-lg focus:ring-mainColorLight focus:border-mainColorLight block w-full p-2 shadow-sm"
                  placeholder="Enter first name"
                  required
                />
              </div>
            </div>

            @if (
              registrationForm.get('firstName')?.invalid &&
              registrationForm.get('firstName')?.touched
            ) {
              <div class="flex flex-col gap-1 text-2xs text-red-500 mt-1">
                @if (registrationForm.get('firstName')?.hasError('required')) {
                  <p class="flex items-start gap-2">
                    <i class="fa-solid fa-right-long p-0.5"></i>
                    <span>First name is required.</span>
                  </p>
                } @else if (registrationForm.get('firstName')?.hasError('minlength')) {
                  <p class="flex items-start gap-2">
                    <i class="fa-solid fa-right-long p-0.5"></i>
                    <span>First name must be at least 3 characters.</span>
                  </p>
                }
              </div>
            }
          </div>

          <div>
            <div class="">
              <label
                for="lastName"
                class="block mb-1 text-2xs font-bold text-linksColor1 capitalize tracking-wider"
                >Last Name</label
              >
              <div class="relative">
                <input
                  #rePass
                  [class]="{
                    'border-green-500': registrationForm.get('lastName')?.valid,
                    'border-red-500':
                      registrationForm.get('lastName')?.invalid &&
                      registrationForm.get('lastName')?.touched,
                  }"
                  formControlName="lastName"
                  type="text"
                  id="lastName"
                  class="placeholder:text-2xs bg-white border border-gray-200 text-gray-900 text-sm rounded-lg focus:ring-mainColorLight focus:border-mainColorLight block w-full p-2 shadow-sm"
                  placeholder="Enter last name"
                  required
                />
              </div>
            </div>

            @if (
              registrationForm.get('lastName')?.invalid && registrationForm.get('lastName')?.touched
            ) {
              <div class="flex flex-col gap-1 text-2xs text-red-500 mt-1">
                @if (registrationForm.get('lastName')?.hasError('required')) {
                  <p class="flex items-start gap-2">
                    <i class="fa-solid fa-right-long p-0.5"></i>
                    <span>Last name is required.</span>
                  </p>
                } @else if (registrationForm.get('lastName')?.hasError('minlength')) {
                  <p class="flex items-start gap-2">
                    <i class="fa-solid fa-right-long p-0.5"></i>
                    <span>Last name must be at least 3 characters.</span>
                  </p>
                }
              </div>
            }
          </div>
        </div>

        <div class="mb-3">
          <label
            for="username"
            class="block mb-1 text-2xs font-bold text-linksColor1 capitalize tracking-wider"
            >User Name</label
          >
          <input
            [class]="{
              'border-green-500': registrationForm.get('username')?.valid,
              'border-red-500':
                registrationForm.get('username')?.invalid &&
                registrationForm.get('username')?.touched,
            }"
            formControlName="username"
            type="text"
            id="username"
            class="placeholder:text-2xs bg-white border border-gray-200 text-gray-900 text-sm rounded-lg focus:ring-mainColorLight focus:border-mainColorLight block w-full p-2 shadow-sm"
            placeholder="Enter User name"
            required
          />
        </div>

        @if (
          registrationForm.get('username')?.invalid && registrationForm.get('username')?.touched
        ) {
          <div class="flex flex-col gap-1 text-2xs mb-3 text-red-500 -mt-2">
            @if (registrationForm.get('username')?.hasError('required')) {
              <p class="flex items-start gap-2">
                <i class="fa-solid fa-right-long p-0.5"></i>
                <span>User name is required.</span>
              </p>
            } @else if (registrationForm.get('username')?.hasError('minlength')) {
              <p class="flex items-start gap-2">
                <i class="fa-solid fa-right-long p-0.5"></i>
                <span>User name must be at least 3 characters.</span>
              </p>
            }
          </div>
        }

        <div class="mb-3">
          <label
            for="jobTitle"
            class="block mb-1 text-2xs font-bold text-linksColor1 capitalize tracking-wider"
            >Job Title</label
          >
          <input
            [class]="{
              'border-green-500': registrationForm.get('jobTitle')?.valid,
              'border-red-500':
                registrationForm.get('jobTitle')?.invalid &&
                registrationForm.get('jobTitle')?.touched,
            }"
            formControlName="jobTitle"
            type="text"
            id="jobTitle"
            class="placeholder:text-2xs bg-white border border-gray-200 text-gray-900 text-sm rounded-lg focus:ring-mainColorLight focus:border-mainColorLight block w-full p-2 shadow-sm"
            placeholder="Enter your Job Title"
            required
          />
        </div>

        @if (
          registrationForm.get('jobTitle')?.invalid && registrationForm.get('jobTitle')?.touched
        ) {
          <div class="flex flex-col gap-1 text-2xs mb-3 text-red-500 -mt-2">
            @if (registrationForm.get('jobTitle')?.hasError('required')) {
              <p class="flex items-start gap-2">
                <i class="fa-solid fa-right-long p-0.5"></i>
                <span>Job Title is required.</span>
              </p>
            } @else if (registrationForm.get('jobTitle')?.hasError('minlength')) {
              <p class="flex items-start gap-2">
                <i class="fa-solid fa-right-long p-0.5"></i>
                <span>Job Title must be at least 3 characters.</span>
              </p>
            }
          </div>
        }

        <div class="mb-3">
          <label
            for="companyName"
            class="block mb-1 text-2xs font-bold text-linksColor1 capitalize tracking-wider"
            >Company Name</label
          >
          <input
            [class]="{
              'border-green-500': registrationForm.get('companyName')?.valid,
              'border-red-500':
                registrationForm.get('companyName')?.invalid &&
                registrationForm.get('companyName')?.touched,
            }"
            formControlName="companyName"
            type="text"
            id="companyName"
            class="placeholder:text-2xs bg-white border border-gray-200 text-gray-900 text-sm rounded-lg focus:ring-mainColorLight focus:border-mainColorLight block w-full p-2 shadow-sm"
            placeholder="Enter your Company name"
            required
          />
        </div>

        @if (
          registrationForm.get('companyName')?.invalid &&
          registrationForm.get('companyName')?.touched
        ) {
          <div class="flex flex-col gap-1 text-2xs mb-3 text-red-500 -mt-2">
            @if (registrationForm.get('companyName')?.hasError('required')) {
              <p class="flex items-start gap-2">
                <i class="fa-solid fa-right-long p-0.5"></i>
                <span>Company name is required.</span>
              </p>
            } @else if (registrationForm.get('companyName')?.hasError('minlength')) {
              <p class="flex items-start gap-2">
                <i class="fa-solid fa-right-long p-0.5"></i>
                <span>Company Name must be at least 3 characters.</span>
              </p>
            }
          </div>
        }

        <div class="mb-3">
          <label
            for="email"
            class="block mb-1 text-2xs font-bold text-linksColor1 capitalize tracking-wider"
            >Email Address</label
          >
          <input
            [class]="{
              'border-green-500': registrationForm.get('email')?.valid,
              'border-red-500':
                registrationForm.get('email')?.invalid && registrationForm.get('email')?.touched,
            }"
            formControlName="email"
            type="email"
            id="email"
            class="placeholder:text-2xs bg-white border border-gray-200 text-gray-900 text-sm rounded-lg focus:ring-mainColorLight focus:border-mainColorLight block w-full p-2 shadow-sm"
            placeholder="name@misa7a.com"
            required
          />
        </div>

        @if (registrationForm.get('email')?.invalid && registrationForm.get('email')?.touched) {
          <div class="flex flex-col gap-1 text-2xs mb-3 text-red-500 -mt-2">
            @if (registrationForm.get('email')?.hasError('required')) {
              <p class="flex items-start gap-2">
                <i class="fa-solid fa-right-long p-0.5"></i>
                <span>Email is required.</span>
              </p>
            } @else if (registrationForm.get('email')?.hasError('email')) {
              <p class="flex items-start gap-2">
                <i class="fa-solid fa-right-long p-0.5"></i>
                <span>Please enter a valid email address.</span>
              </p>
            }
          </div>
        }

        <div class="mb-3">
          <label
            for="phone"
            class="block mb-1 text-2xs font-bold text-linksColor1 capitalize tracking-wider"
            >Phone Number</label
          >
          <input
            [class]="{
              'border-green-500': registrationForm.get('phone')?.valid,
              'border-red-500':
                registrationForm.get('phone')?.invalid && registrationForm.get('phone')?.touched,
            }"
            formControlName="phone"
            type="text"
            id="phone"
            class="placeholder:text-2xs bg-white border border-gray-200 text-gray-900 text-sm rounded-lg focus:ring-mainColorLight focus:border-mainColorLight block w-full p-2 shadow-sm"
            placeholder="01000000000"
            required
          />
        </div>

        @if (registrationForm.get('phone')?.invalid && registrationForm.get('phone')?.touched) {
          <div class="flex flex-col gap-1 text-2xs mb-3 text-red-500 -mt-2">
            @if (registrationForm.get('phone')?.hasError('required')) {
              <p class="flex items-start gap-2">
                <i class="fa-solid fa-right-long p-0.5"></i>
                <span>Phone number is required.</span>
              </p>
            } @else if (registrationForm.get('phone')?.hasError('pattern')) {
              <p class="flex items-start gap-2">
                <i class="fa-solid fa-right-long p-0.5"></i>
                <span
                  >Invalid format. Must start with (010, 011, 012, or 015) and be 11 digits.</span
                >
              </p>
            }
          </div>
        }

        <div class="mb-7">
          <label
            for="password"
            class="block mb-1 text-2xs font-bold text-linksColor1 capitalize tracking-wider"
            >password</label
          >
          <div class="relative">
            <input
              #pass
              [class]="{
                'border-green-500': registrationForm.get('password')?.valid,
                'border-red-500':
                  registrationForm.get('password')?.invalid &&
                  registrationForm.get('password')?.touched,
              }"
              formControlName="password"
              type="password"
              id="password"
              class="placeholder:text-2xs bg-white border border-gray-200 text-gray-900 text-sm rounded-lg focus:ring-mainColorLight focus:border-mainColorLight block w-full p-2 shadow-sm"
              placeholder="Enter your password"
              required
            />
            <i
              (click)="showPassword(pass)"
              [class]="pass.type === 'password' ? 'fa-eye-slash' : 'fa-eye'"
              class="fa-solid absolute text-fontGray2 text-xs right-2 top-1/2 -translate-y-1/2 cursor-pointer"
            ></i>
          </div>
        </div>

        @if (
          registrationForm.get('password')?.invalid && registrationForm.get('password')?.touched
        ) {
          <div class="flex flex-col gap-1 text-2xs mb-3 text-red-500 -mt-2">
            @if (registrationForm.get('password')?.hasError('required')) {
              <p class="flex items-start gap-2">
                <i class="fa-solid fa-right-long p-0.5"></i>
                <span>Password is required.</span>
              </p>
            } @else if (registrationForm.get('password')?.hasError('pattern')) {
              <p class="flex items-start gap-2">
                <i class="fa-solid fa-right-long p-0.5"></i>
                <span
                  >Must be 8-14 characters, include uppercase, lowercase, and at least 2 numbers (no
                  symbols like @,!,$,&,#).</span
                >
              </p>
            }
          </div>
        }

        <button
          type="submit"
          class="w-full text-white bg-mainColorLight hover:bg-mainColorDark focus:ring-2 focus:outline-none focus:ring-mainExtraLight font-medium rounded-lg text-sm px-5 py-2 text-center transition-colors cursor-pointer"
        >
          Create Account
          @if (loading()) {
            <i class="fas fa-spinner animate-spin"></i>
          }
        </button>
      </form>

      <p class="mt-5 text-xs font-medium text-center text-fontGray1">
        Already have an account?
        <a routerLink="/login" class="text-mainColorDark hover:underline font-bold">Sign In</a>
      </p>
    </div>
  </div>
</div>
