<div class="flex h-screen bg-mainBg overflow-hidden">
  <a
    routerLink="/home"
    class="hidden lg:flex lg:w-1/2 relative bg-cover bg-center cursor-pointer hover:opacity-95 transition-opacity"
    style="background-image: url('./img/Registration.png')"
  >
    <div class="absolute bg-black/30"></div>
    <div class="relative z-10 flex items-end p-8 w-full">
      <div class="bg-white/70 backdrop-blur-md p-6 rounded-xl max-w-md shadow-lg">
        <h2 class="text-2xl xl:text-3xl font-bold text-mainColorDark mb-2">
          Space for your greatest ideas.
        </h2>
        <p class="text-fontGray1 text-sm">
          Join a global network of professionals in curated environments designed for focus and
          architectural inspiration.
        </p>
      </div>
    </div>
  </a>

  <div class="w-full lg:w-1/2 flex flex-col items-center justify-center p-4 lg:p-8 overflow-y-auto">
    <a
      routerLink="/home"
      class="w-full sm:w-auto bg-gray-100 mb-2.5 hover:bg-gray-200 text-mainColorDark font-bold py-3.5 px-8 rounded-xl transition-colors shadow-sm flex items-center justify-center gap-2.5 text-sm border border-gray-200/50"
    >
      Return Home <i class="fa-solid fa-house text-xs"></i>
    </a>
    <div class="w-full max-w-sm xl:max-w-md my-auto">
      <div class="mb-5">
        <h1 class="flex items-center gap-2 mb-2 text-mainColorDark font-bold text-lg">
          <img src="./img/Logo-Misa7a-icon.png" class="w-5.5 h-5.5" alt="logo-Misa7a" />
          <span>Misa7a Workspace</span>
        </h1>
        <h2 class="text-2xl font-bold text-gray-900 mb-1">Create Account</h2>
        <p class="text-sm text-fontGray2">Begin your journey in our architectural sanctuary.</p>
      </div>

      <form>
        <div class="mb-3">
          <label
            for="fullName"
            class="block mb-1 text-2xs font-bold text-linksColor1 capitalize tracking-wider"
            >Full Name</label
          >
          <input
            type="text"
            id="fullName"
            class="bg-white border border-gray-200 text-gray-900 text-sm rounded-lg focus:ring-mainColorLight focus:border-mainColorLight block w-full p-2 shadow-sm"
            placeholder="Enter your full name"
            required
          />
        </div>

        <div class="mb-3">
          <label
            for="userName"
            class="block mb-1 text-2xs font-bold text-linksColor1 capitalize tracking-wider"
            >User Name "Optional"</label
          >
          <input
            type="text"
            id="userName"
            class="bg-white border border-gray-200 text-gray-900 text-sm rounded-lg focus:ring-mainColorLight focus:border-mainColorLight block w-full p-2 shadow-sm"
            placeholder="User Name"
            required
          />
        </div>

        <div class="mb-3">
          <label
            for="email"
            class="block mb-1 text-2xs font-bold text-linksColor1 capitalize tracking-wider"
            >Email Address</label
          >
          <input
            type="email"
            id="email"
            class="bg-white border border-gray-200 text-gray-900 text-sm rounded-lg focus:ring-mainColorLight focus:border-mainColorLight block w-full p-2 shadow-sm"
            placeholder="name@misa7a.com"
            required
          />
        </div>

        <div class="mb-3">
          <label
            for="dateOfBirth"
            class="block mb-1 text-2xs font-bold text-linksColor1 capitalize tracking-wider"
            >Birth Date</label
          >
          <input
            type="date"
            id="dateOfBirth"
            class="bg-white border border-gray-200 text-gray-900 text-sm rounded-lg focus:ring-mainColorLight focus:border-mainColorLight block w-full p-2 shadow-sm"
            placeholder="Enter your Birth Date"
            required
          />
        </div>

        <div class="mb-3">
          <label
            for="gender"
            class="block mb-1 text-2xs font-bold text-linksColor1 capitalize tracking-wider"
            >Gender</label
          >
          <select
            id="gender"
            class="bg-white border border-gray-200 text-gray-900 text-sm rounded-lg focus:ring-mainColorLight focus:border-mainColorLight block w-full p-2 shadow-sm"
            placeholder="name@misa7a.com"
            required
          >
            <option selected disabled hidden>Select Gender</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
          </select>
        </div>

        <div class="mb-3">
          <label
            for="phoneNumber"
            class="block mb-1 text-2xs font-bold text-linksColor1 capitalize tracking-wider"
            >Phone Number</label
          >
          <input
            type="tel"
            id="phoneNumber"
            class="bg-white border border-gray-200 text-gray-900 text-sm rounded-lg focus:ring-mainColorLight focus:border-mainColorLight block w-full p-2 shadow-sm"
            placeholder="01000000000"
            required
          />
        </div>

        <div class="grid grid-cols-1 sm:grid-cols-2 gap-3 mb-4">
          <div>
            <label
              for="password"
              class="block mb-1 text-2xs font-bold text-linksColor1 capitalize tracking-wider"
              >Password</label
            >
            <input
              type="password"
              id="password"
              class="bg-white border border-gray-200 text-gray-900 text-sm rounded-lg focus:ring-mainColorLight focus:border-mainColorLight block w-full p-2 shadow-sm"
              placeholder="••••••••"
              required
            />
          </div>
          <div>
            <label
              for="rePassword"
              class="block mb-1 text-2xs font-bold text-linksColor1 capitalize tracking-wider"
              >Confirm Password</label
            >
            <input
              type="password"
              id="rePassword"
              class="bg-white border border-gray-200 text-gray-900 text-sm rounded-lg focus:ring-mainColorLight focus:border-mainColorLight block w-full p-2 shadow-sm"
              placeholder="••••••••"
              required
            />
          </div>
        </div>

        <div class="flex items-start mb-4">
          <div class="flex items-center h-5">
            <input
              id="terms"
              type="checkbox"
              value=""
              class="w-4 h-4 border border-gray-300 rounded bg-white focus:ring-3 focus:ring-mainExtraLight text-mainColorDark cursor-pointer"
              required
            />
          </div>
          <label for="terms" class="ms-2 text-xs font-medium text-fontGray1"
            >I agree to the
            <a routerLink="" class="text-mainColorDark hover:underline">Terms and Conditions</a>
            and
            <a routerLink="/home" class="text-mainColorDark hover:underline">Privacy Policy</a
            >.</label
          >
        </div>

        <button
          type="submit"
          class="w-full text-white bg-mainColorLight hover:bg-mainColorDark focus:ring-2 focus:outline-none focus:ring-mainExtraLight font-medium rounded-lg text-sm px-5 py-2 text-center transition-colors cursor-pointer"
        >
          Create Account
        </button>
      </form>

      <div class="mt-5">
        <div class="relative flex items-center justify-center mb-4">
          <span
            class="absolute px-2 font-medium text-fontGray2 bg-mainBg text-2xs uppercase tracking-wider"
            >Or Register With</span
          >
          <div class="w-full border-t border-gray-200"></div>
        </div>

        <div class="grid">
          <button
            type="button"
            class="text-fontGray1 bg-gray-100 hover:bg-gray-200 font-medium rounded-lg text-xs px-4 py-2 text-center inline-flex items-center justify-center transition-colors cursor-pointer"
          >
            <img
              src="https://www.svgrepo.com/show/475656/google-color.svg"
              class="w-3.5 h-3.5 me-2"
              alt="Google"
            />
            Google
          </button>
        </div>
      </div>

      <p class="mt-5 text-xs font-medium text-center text-fontGray1">
        Already have an account?
        <a routerLink="/login" class="text-mainColorDark hover:underline font-bold">Sign In</a>
      </p>
    </div>
  </div>
</div>
