<div class="flex min-h-screen bg-mainBg overflow-hidden">
  <a
    routerLink="/home"
    class="hidden lg:flex lg:w-1/2 relative bg-cover bg-center cursor-pointer hover:opacity-95 transition-opacity"
    style="background-image: url('./img/Registration.png')"
  >
    <div class="absolute bg-black/30"></div>
    <div class="relative z-10 flex items-end p-8 w-full">
      <div class="bg-white/70 backdrop-blur-md p-6 rounded-xl max-w-md shadow-lg">
        <h2 class="text-2xl xl:text-3xl font-bold text-mainColorDark mb-2">
          Space for your greatest ideas.
        </h2>
        <p class="text-fontGray1 text-sm">
          Join a global network of professionals in curated environments designed for focus and
          architectural inspiration.
        </p>
      </div>
    </div>
  </a>

  <div
    class="w-full lg:w-1/2 flex flex-col items-center justify-center p-4 lg:px-8 overflow-y-auto"
  >
    <a
      routerLink="/home"
      class="w-full sm:w-auto bg-gray-100 mb-2.5 hover:bg-gray-200 text-mainColorDark font-bold py-3.5 px-8 rounded-xl transition-colors shadow-sm flex items-center justify-center gap-2.5 text-sm border border-gray-200/50"
    >
      Return Home <i class="fa-solid fa-house text-xs"></i>
    </a>
    <div class="w-full max-w-sm xl:max-w-md my-auto">
      <div class="mb-5">
        <h1 class="flex items-center gap-2 mb-2 text-mainColorDark font-bold text-lg">
          <img src="./img/Logo-Misa7a-icon.png" class="w-5.5 h-5.5" alt="logo-Misa7a" />
          <span>Misa7a Workspace</span>
        </h1>
        <h2 class="text-2xl font-bold text-gray-900 mb-1">Create Account</h2>
        <p class="text-sm text-fontGray2">Begin your journey in our architectural sanctuary.</p>
      </div>

      <form [formGroup]="registrationForm" (ngSubmit)="submitForm()">
        <div class="mb-3">
          <label
            for="fullName"
            class="block mb-1 text-2xs font-bold text-linksColor1 capitalize tracking-wider"
            >Full Name</label
          >
          <input
            [class]="{
              'border-green-500': registrationForm.get('fullName')?.valid,
              'border-red-500':
                registrationForm.get('fullName')?.invalid &&
                registrationForm.get('fullName')?.touched,
            }"
            formControlName="fullName"
            type="text"
            id="fullName"
            class="placeholder:text-2xs bg-white border border-gray-200 text-gray-900 text-sm rounded-lg focus:ring-mainColorLight focus:border-mainColorLight block w-full p-2 shadow-sm"
            placeholder="Enter your full name"
            required
          />
        </div>

        @if (
          registrationForm.get('fullName')?.invalid && registrationForm.get('fullName')?.touched
        ) {
          <div class="flex flex-col gap-1 text-2xs mb-3 text-red-500 -mt-2">
            @if (registrationForm.get('fullName')?.hasError('required')) {
              <p class="flex items-start gap-2">
                <i class="fa-solid fa-right-long p-0.5"></i>
                <span>Full name is required.</span>
              </p>
            } @else if (registrationForm.get('fullName')?.hasError('pattern')) {
              <p class="flex items-start gap-2">
                <i class="fa-solid fa-right-long p-0.5"></i>
                <span>Only letters are allowed (English or Arabic)</span>
              </p>
            } @else if (registrationForm.get('fullName')?.hasError('minlength')) {
              <p class="flex items-start gap-2">
                <i class="fa-solid fa-right-long p-0.5"></i>
                <span>Name must be at least 3 characters.</span>
              </p>
            } @else if (registrationForm.get('fullName')?.hasError('maxlength')) {
              <p class="flex items-start gap-2">
                <i class="fa-solid fa-right-long p-0.5"></i>
                <span>Name cannot exceed 35 characters.</span>
              </p>
            }
          </div>
        }

        <div class="mb-3">
          <label
            for="userName"
            class="block mb-1 text-2xs font-bold text-linksColor1 capitalize tracking-wider"
            >User Name (Optional)</label
          >
          <input
            formControlName="userName"
            type="text"
            id="userName"
            class="placeholder:text-2xs bg-white border border-gray-200 text-gray-900 text-sm rounded-lg focus:ring-mainColorLight focus:border-mainColorLight block w-full p-2 shadow-sm"
            placeholder="User Name (Optional)"
          />
        </div>

        <div class="mb-3">
          <label
            for="email"
            class="block mb-1 text-2xs font-bold text-linksColor1 capitalize tracking-wider"
            >Email Address</label
          >
          <input
            [class]="{
              'border-green-500': registrationForm.get('email')?.valid,
              'border-red-500':
                registrationForm.get('email')?.invalid && registrationForm.get('email')?.touched,
            }"
            formControlName="email"
            type="email"
            id="email"
            class="placeholder:text-2xs bg-white border border-gray-200 text-gray-900 text-sm rounded-lg focus:ring-mainColorLight focus:border-mainColorLight block w-full p-2 shadow-sm"
            placeholder="name@misa7a.com"
            required
          />
        </div>

        @if (registrationForm.get('email')?.invalid && registrationForm.get('email')?.touched) {
          <div class="flex flex-col gap-1 text-2xs mb-3 text-red-500 -mt-2">
            @if (registrationForm.get('email')?.hasError('required')) {
              <p class="flex items-start gap-2">
                <i class="fa-solid fa-right-long p-0.5"></i>
                <span>Email is required.</span>
              </p>
            } @else if (registrationForm.get('email')?.hasError('email')) {
              <p class="flex items-start gap-2">
                <i class="fa-solid fa-right-long p-0.5"></i>
                <span>Please enter a valid email address.</span>
              </p>
            }
          </div>
        }

        <div class="mb-3">
          <label
            for="dateOfBirth"
            class="block mb-1 text-2xs font-bold text-linksColor1 capitalize tracking-wider"
            >Birth Date</label
          >
          <input
            [class]="{
              'border-green-500': registrationForm.get('dateOfBirth')?.valid,
              'border-red-500':
                registrationForm.get('dateOfBirth')?.invalid &&
                registrationForm.get('dateOfBirth')?.touched,
            }"
            formControlName="dateOfBirth"
            type="date"
            id="dateOfBirth"
            class="placeholder:text-2xs bg-white border border-gray-200 text-gray-900 text-sm rounded-lg focus:ring-mainColorLight focus:border-mainColorLight block w-full p-2 shadow-sm"
            placeholder="Enter your Birth Date"
            required
          />
        </div>

        @if (
          registrationForm.get('dateOfBirth')?.invalid &&
          registrationForm.get('dateOfBirth')?.touched
        ) {
          <div class="flex flex-col gap-1 text-2xs mb-3 text-red-500 -mt-2">
            <p class="flex items-start gap-2">
              <i class="fa-solid fa-right-long p-0.5"></i>
              <span>Birth date is required.</span>
            </p>
          </div>
        }

        <div class="mb-3">
          <label
            for="gender"
            class="block mb-1 text-2xs font-bold text-linksColor1 capitalize tracking-wider"
            >Gender</label
          >
          <select
            [class]="{
              'border-green-500': registrationForm.get('gender')?.valid,
              'border-red-500':
                registrationForm.get('gender')?.invalid && registrationForm.get('gender')?.touched,
            }"
            formControlName="gender"
            id="gender"
            class="placeholder:text-2xs bg-white border border-gray-200 text-gray-900 text-sm rounded-lg focus:ring-mainColorLight focus:border-mainColorLight block w-full p-2 shadow-sm"
            placeholder="name@misa7a.com"
            required
          >
            <option selected disabled hidden>Select Gender</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
          </select>
        </div>

        @if (registrationForm.get('gender')?.invalid && registrationForm.get('gender')?.touched) {
          <div class="flex flex-col gap-1 text-2xs mb-3 text-red-500 -mt-2">
            <p class="flex items-start gap-2">
              <i class="fa-solid fa-right-long p-0.5"></i>
              <span>Gender is required.</span>
            </p>
          </div>
        }

        <div class="mb-3">
          <label
            for="phoneNumber"
            class="block mb-1 text-2xs font-bold text-linksColor1 capitalize tracking-wider"
            >Phone Number</label
          >
          <input
            [class]="{
              'border-green-500': registrationForm.get('phoneNumber')?.valid,
              'border-red-500':
                registrationForm.get('phoneNumber')?.invalid &&
                registrationForm.get('phoneNumber')?.touched,
            }"
            formControlName="phoneNumber"
            type="tel"
            id="phoneNumber"
            class="placeholder:text-2xs bg-white border border-gray-200 text-gray-900 text-sm rounded-lg focus:ring-mainColorLight focus:border-mainColorLight block w-full p-2 shadow-sm"
            placeholder="01000000000"
            required
          />
        </div>

        @if (
          registrationForm.get('phoneNumber')?.invalid &&
          registrationForm.get('phoneNumber')?.touched
        ) {
          <div class="flex flex-col gap-1 text-2xs mb-3 text-red-500 -mt-2">
            @if (registrationForm.get('phoneNumber')?.hasError('required')) {
              <p class="flex items-start gap-2">
                <i class="fa-solid fa-right-long p-0.5"></i>
                <span>Phone number is required.</span>
              </p>
            } @else if (registrationForm.get('phoneNumber')?.hasError('pattern')) {
              <p class="flex items-start gap-2">
                <i class="fa-solid fa-right-long p-0.5"></i>
                <span
                  >Invalid format. Must start with (010, 011, 012, or 015) and be 11 digits.</span
                >
              </p>
            }
          </div>
        }

        <div class="grid grid-cols-1 sm:grid-cols-2 gap-3 mb-4">
          <div>
            <div class="mb-3">
              <label
                for="password"
                class="block mb-1 text-2xs font-bold text-linksColor1 capitalize tracking-wider"
                >Password</label
              >
              <div class="relative">
                <input
                  [class]="{
                    'border-green-500': registrationForm.get('password')?.valid,
                    'border-red-500':
                      registrationForm.get('password')?.invalid &&
                      registrationForm.get('password')?.touched,
                  }"
                  formControlName="password"
                  type="password"
                  id="password"
                  class="placeholder:text-2xs bg-white border border-gray-200 text-gray-900 text-sm rounded-lg focus:ring-mainColorLight focus:border-mainColorLight block w-full p-2 shadow-sm"
                  placeholder="Create Password"
                  required
                />
                <i
                  class="fa-solid fa-eye-slash absolute text-fontGray2 text-xs right-2 top-1/2 -translate-y-1/2 cursor-pointer"
                ></i>
              </div>
            </div>

            @if (
              registrationForm.get('password')?.invalid && registrationForm.get('password')?.touched
            ) {
              <div class="flex flex-col gap-1 text-2xs mb-3 text-red-500 -mt-2">
                @if (registrationForm.get('password')?.hasError('required')) {
                  <p class="flex items-start gap-2">
                    <i class="fa-solid fa-right-long p-0.5"></i>
                    <span>Password is required.</span>
                  </p>
                } @else if (registrationForm.get('password')?.hasError('pattern')) {
                  <p class="flex items-start gap-2">
                    <i class="fa-solid fa-right-long p-0.5"></i>
                    <span
                      >Must be 8-14 characters, include uppercase, lowercase, and at least 2 numbers
                      (no symbols like @,!,$,&,#).</span
                    >
                  </p>
                }
              </div>
            }
          </div>

          <div>
            <div class="mb-3">
              <label
                for="rePassword"
                class="block mb-1 text-2xs font-bold text-linksColor1 capitalize tracking-wider"
                >Confirm Password</label
              >
              <div class="relative">
                <input
                  [class]="{
                    'border-green-500': registrationForm.get('rePassword')?.valid,
                    'border-red-500':
                      registrationForm.get('rePassword')?.invalid &&
                      registrationForm.get('rePassword')?.touched,
                  }"
                  formControlName="rePassword"
                  type="password"
                  id="rePassword"
                  class="placeholder:text-2xs bg-white border border-gray-200 text-gray-900 text-sm rounded-lg focus:ring-mainColorLight focus:border-mainColorLight block w-full p-2 shadow-sm"
                  placeholder="Confirm Password"
                  required
                />
                <i
                  class="fa-solid fa-eye-slash absolute text-fontGray2 text-xs right-2 top-1/2 -translate-y-1/2 cursor-pointer"
                ></i>
              </div>
            </div>

            @if (
              registrationForm.get('rePassword')?.invalid &&
              registrationForm.get('rePassword')?.touched
            ) {
              <div class="flex flex-col gap-1 text-2xs mb-3 text-red-500 -mt-2">
                @if (registrationForm.get('rePassword')?.hasError('required')) {
                  <p class="flex items-start gap-2">
                    <i class="fa-solid fa-right-long p-0.5"></i>
                    <span>Please confirm your password.</span>
                  </p>
                } @else if (registrationForm.get('rePassword')?.hasError('mismatch')) {
                  <p class="flex items-start gap-2">
                    <i class="fa-solid fa-right-long p-0.5"></i>
                    <span>Passwords do not match.</span>
                  </p>
                }
              </div>
            }
          </div>
        </div>

        <div class="flex items-start mb-4">
          <div class="flex items-center h-5">
            <input
              [class]="{
                'border-green-500': registrationForm.get('terms')?.valid,
                'border-red-500':
                  registrationForm.get('terms')?.invalid && registrationForm.get('terms')?.touched,
              }"
              formControlName="terms"
              id="terms"
              type="checkbox"
              value=""
              class="w-4 h-4 border border-gray-300 rounded bg-white focus:ring-3 focus:ring-mainExtraLight text-mainColorDark cursor-pointer"
              required
            />
          </div>
          <label for="terms" class="ms-2 text-xs font-medium text-fontGray1"
            >I agree to the
            <a routerLink="" class="text-mainColorDark hover:underline">Terms and Conditions</a>
            and
            <a routerLink="/home" class="text-mainColorDark hover:underline">Privacy Policy</a
            >.</label
          >
        </div>

        @if (registrationForm.get('terms')?.invalid && registrationForm.get('terms')?.touched) {
          <div class="flex flex-col gap-1 text-2xs mb-4 text-red-500 -mt-4">
            <p class="flex items-start gap-2">
              <i class="fa-solid fa-right-long p-0.5"></i>
              <span>You must accept the terms and conditions.</span>
            </p>
          </div>
        }

        <button
          type="submit"
          class="w-full text-white bg-mainColorLight hover:bg-mainColorDark focus:ring-2 focus:outline-none focus:ring-mainExtraLight font-medium rounded-lg text-sm px-5 py-2 text-center transition-colors cursor-pointer"
        >
          Create Account
        </button>
      </form>

      <div class="mt-5">
        <div class="relative flex items-center justify-center mb-4">
          <span
            class="absolute px-2 font-medium text-fontGray2 bg-mainBg text-2xs uppercase tracking-wider"
            >Or Register With</span
          >
          <div class="w-full border-t border-gray-200"></div>
        </div>

        <div class="grid">
          <button
            type="button"
            class="text-fontGray1 bg-gray-100 hover:bg-gray-200 font-medium rounded-lg text-xs px-4 py-2 text-center inline-flex items-center justify-center transition-colors cursor-pointer"
          >
            <img
              src="https://www.svgrepo.com/show/475656/google-color.svg"
              class="w-3.5 h-3.5 me-2"
              alt="Google"
            />
            Google
          </button>
        </div>
      </div>

      <p class="mt-5 text-xs font-medium text-center text-fontGray1">
        Already have an account?
        <a routerLink="/login" class="text-mainColorDark hover:underline font-bold">Sign In</a>
      </p>
    </div>
  </div>
</div>
