<footer class="bg-[#f8f9fa] border-t border-gray-200">
  <div class="mx-auto max-w-screen-xl px-4 py-6 sm:px-6 lg:px-8">
    <div class="flex flex-col items-center justify-between gap-4 md:flex-row">
      <div class="flex flex-col md:flex-row items-center justify-between gap-4">
        <app-main-logo></app-main-logo>
        <span class="text-xs text-linksColor1 uppercase tracking-widest">
          © {{ currentYear() }} Misa7a. All Rights Reserved.
        </span>
      </div>

      <ul class="flex flex-wrap justify-center gap-6 text-sm font-medium text-linksColor2">
        <li>
          <a routerLink="/home" class="hover:text-mainColorLight transition-colors"
            >Privacy Policy</a
          >
        </li>
        <li>
          <a routerLink="/home" class="hover:text-mainColorLight transition-colors"
            >Terms of Service</a
          >
        </li>
        <li>
          <a routerLink="/home" class="hover:text-mainColorLight transition-colors">Support</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
